<!DOCTYPE html>
<html>
  <head>
    <title>Password Reset Successful</title>
  </head>
  <body style="background-color: #e6f4ea; font-size: 16px; color: #333">
    <div
      style="
        display: block;
        width: 100%;
        min-height: 200px;
        font-family: Arial, sans-serif;
      "
    >
      <div style="padding: 20px; background-color: #3d7099; text-align: center">
        <h1 style="font-size: 30px; color: white; font-weight: bold; margin: 0">
          Password Reset Successful
        </h1>
      </div>
      <div style="padding: 20px; background-color: white">
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          We wanted to let you know that your password has been successfully
          reset. If you did not request this change, please contact our support
          team immediately.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          For your security, remember to keep your password confidential and
          avoid sharing it with others. Here are a few tips to ensure your
          account remains secure:
        </p>
        <ul style="font-size: 16px; color: #333; padding-left: 20px">
          <li>
            Use a strong and unique password that you don't use on other
            websites.
          </li>
          <li>
            Regularly review your account activity for any unauthorized actions.
          </li>
          <li>
            Contact our support team if you notice any suspicious activity.
          </li>
        </ul>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          If you have any questions or need further assistance, our support team
          is here to help.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Stay secure,
        </p>
        <p style="font-size: 16px; color: #333">The SecureBloc Team</p>
      </div>
    </div>
  </body>
</html>
