<!DOCTYPE html>
<html>
  <head>
    <title>New Sign-In Notification</title>
  </head>
  <body style="background-color: #e6f4ea; font-size: 16px; color: #333">
    <div
      style="
        display: block;
        width: 100%;
        min-height: 200px;
        font-family: Arial, sans-serif;
      "
    >
      <div style="padding: 20px; background-color: #3d7099; text-align: center">
        <h1 style="font-size: 30px; color: white; font-weight: bold; margin: 0">
          New Sign-In Notification
        </h1>
      </div>
      <div style="padding: 20px; background-color: white">
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Hello {{first_name}}, we noticed a new sign-in to your SecureBloc
          account. Here are the details:
        </p>
        <ul style="font-size: 16px; color: #333; padding-left: 20px">
          <li><strong>Time:</strong> {{ sign_in_time }}</li>
          <li><strong>IP Address:</strong> {{ ip_address }}</li>
          <li><strong>Browser/Platform:</strong> {{ device }}</li>
        </ul>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          If this was you, no further action is needed. If you did not sign in
          to your account, please secure your account immediately by changing
          your password.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          For your security, it’s always a good idea to regularly review your
          account activity and update your security settings.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          If you need any assistance, our support team is here to help.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Stay secure,
        </p>
        <p style="font-size: 16px; color: #333">The SecureBloc Team</p>
      </div>
    </div>
  </body>
</html>
