<!DOCTYPE html>
<html>
  <head>
    <title>Verify Your Email</title>
  </head>
  <body style="background-color: #e6f4ea; font-size: 16px; color: #333">
    <div
      style="
        display: block;
        width: 100%;
        min-height: 200px;
        font-family: Arial, sans-serif;
      "
    >
      <div style="padding: 20px; background-color: #349b54; text-align: center">
        <h1 style="font-size: 30px; color: white; font-weight: bold; margin: 0">
          Verify Your Email
        </h1>
      </div>
      <div style="padding: 20px; background-color: white">
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Thank you for signing up with Zonecam! Please use the verification
          code below to verify your email address and start using our advanced
          geopolitical zone prediction features.
        </p>
        <div
          style="
            color: #349b54;
            padding: 15px;
            border-radius: 5px;
            text-align: center;
            font-size: 48px;
            font-weight: bold;
            margin: 20px 0;
          "
        >
          {{ code }}
        </div>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Once verified, you’ll be able to upload facial images and explore
          Zonecam’s powerful zone prediction capabilities with ease.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          If you encounter any issues using the verification code, please
          contact our support team for assistance.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Regards,
        </p>
        <p style="font-size: 16px; color: #333">The Zonecam Team</p>
      </div>
    </div>
  </body>
</html>
