<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Zonecam</title>
  </head>
  <body style="background-color: #e6f4ea; font-size: 16px; color: #333">
    <div
      style="
        display: block;
        width: 100%;
        min-height: 200px;
        font-family: Arial, sans-serif;
      "
    >
      <div style="padding: 20px; background-color: #349b54; text-align: center">
        <h1 style="font-size: 30px; color: white; font-weight: bold; margin: 0">
          Welcome to Zonecam!
        </h1>
      </div>
      <div style="padding: 20px; background-color: white">
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Congratulations on verifying your email! You are now ready to explore
          the powerful capabilities of Zonecam.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Here’s what you can do next to get started:
        </p>
        <ul style="font-size: 16px; color: #333; padding-left: 20px">
          <li>
            <strong>Upload Your Images:</strong> Begin by uploading facial
            images to our platform. Zonecam will analyze them to predict the
            geopolitical zone.
          </li>
          <li>
            <strong>Review Predictions:</strong> View detailed results and
            insights on the predicted zones for each image.
          </li>
          <li>
            <strong>Explore Features:</strong> Discover our advanced features
            designed to provide accurate and reliable geopolitical predictions.
          </li>
        </ul>

        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Welcome aboard, and thank you for choosing Zonecam for your
          geopolitical prediction needs.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Best regards,
        </p>
        <p style="font-size: 16px; color: #333">The Zonecam Team</p>
      </div>
    </div>
  </body>
</html>
