<!DOCTYPE html>
<html>
  <head>
    <title>Verify your email</title>
  </head>
  <body style="background-color: #e6f4ea; font-size: 16px; color: #333">
    <div
      style="
        display: block;
        width: 100%;
        min-height: 200px;
        font-family: Arial, sans-serif;
      "
    >
      <div style="padding: 20px; background-color: #3d7099; text-align: center">
        <h1 style="font-size: 30px; color: white; font-weight: bold; margin: 0">
          Verify Your Email
        </h1>
      </div>
      <div style="padding: 20px; background-color: white">
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Thank you for signing up with SecureBloc! Please use the verification
          code below to verify your email address and start accessing our secure
          file storage solutions.
        </p>
        <div
          style="
            color: #3d7099;
            padding: 15px;
            border-radius: 5px;
            text-align: center;
            font-size: 48px;
            font-weight: bold;
            margin: 20px 0;
          "
        >
          {{ code }}
        </div>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Once verified, you can begin securely storing, managing, and sharing
          your files with ease and peace of mind.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          If you encounter any issues using the verification code, please
          contact our support team for assistance.
        </p>
        <p style="font-size: 16px; color: #333; padding-bottom: 10px">
          Regards,
        </p>
        <p style="font-size: 16px; color: #333">The SecureBloc Team</p>
      </div>
    </div>
  </body>
</html>
